* {
    font-family: Arial, Helvetica, sans-serif;
    color      : white;
}

body {
    padding         : 50px;
    background-color: #121212;
}

.form__search {
    background-color: none;
    border-color: none;
    text-decoration: none;
    font-size    : 1.2rem;
    width        : 100%;
    height       : 40px;
    border-radius: 10px;
    color        : black;
    padding-left: 25px;
}

.box-grid {
    display  : flex;
    flex-wrap: wrap;
}

.box {
    position     : relative;
    align-content: center;
    margin       : 10px;
    overflow     : hidden;
}


.box__title {
    position  : absolute;
    margin-top: 0;

    background-image: linear-gradient(Black, transparent);

    /* Black see-through */
    transition: .5s ease;
    opacity   : 0;
    padding   : 25px 0px 25px;
    width     : 100%;

    text-align: center;
}

.box:hover .box__title {
    opacity: 1;
}

.box__img {
    border-radius: 10px;
    max-height   : 350px;
}